@import '../common/variables';

.home {
   flex: 1;

   >.row {
      height: 100%;

      >* {
         display: flex;
         padding: 40px 0;
      }

      >*:first-child {
         background-color: $gray-2;
      }
   }
}

//===================== Home main content =====================
.home__main-content {
   padding: 0 30px 0 40px;
   background-color: $gray-2;
   flex: 1;
   max-height: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
   @include scroll-1($gray-2);

   // &::-webkit-scrollbar {
   //    width: 10px;
   //    background-color: #fff;


   //    &-thumb {
   //       background-color: #ccc;
   //       visibility: hidden;
   //       opacity: 0;
   //       border-radius: 10px;
   //    }

   //    &-track {
   //       background-color: $gray-2;
   //    }
   // }

   // &::-webkit-scrollbar-thumb:hover,
   // &:hover::-webkit-scrollbar-thumb {
   //    visibility: visible;
   //    opacity: 1;
   // }
}

// Header
.home__main-content .header {
   height: 3.2rem;
   display: flex;

   &__logo {
      height: 100%;

      &-img {
         height: 100%;
      }
   }

   &__search {
      margin-left: auto;
      display: inline-flex;
      align-items: center;
      width: 300px;
      padding: 10px 30px;
      background-color: #fff;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);

      &-input {
         border: none;
         outline: none;
         height: 100%;
         flex: 1;

         &::placeholder {
            opacity: 0.7;
         }
      }

      &-icon {
         font-size: 1.5rem;
      }
   }
}

// Banner
.banner {
   margin-top: 25px;
   width: 100%;
   height: 200px;
   position: relative;

   &__img {
      width: 100%;
   }

   &__contents {
      display: inline-block;
      padding: 40px;
      position: absolute;
      top: 54%;
      right: 20%;
      transform: translateY(-50%);

      &-desc {
         margin: 16px 0;
         color: $gray-1;

         span {
            font-weight: 600;
            color: $primary-color;
         }
      }
   }
}

// Menu
.menu {
   padding-top: 25px;

   .menu__category {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1;
      background-color: #F8F8FB;
      margin: 0 -2px;
      padding: 0 2px 25px;
      &-header {
         display: flex;
         align-items: center;
      }

      &-heading {}

      &-control {
         margin-left: auto;
      }

      &-container {
         margin-top: 8px;
      }

      &-item {
         height: 136px;
         background-color: #fff;
         border-radius: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         transition: all 0.3s;
         box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);

         &-img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            transform: translateY(10px);
            transition: all 0.3s;
            background-color: $gray-2;
            margin-top: 16px;

            img {
               width: 24px;
               object-fit: contain;

            }
         }

         &-name {
            transform: translateY(10px);
            transition: all 0.3s;
            margin-top: 16px;
            margin-bottom: 8px;
            text-transform: capitalize;
         }

         &-icon {
            opacity: 0;
            transform: translateY(5px);
            transition: all 0.3s;
            font-size: 20px;
         }

         @mixin item-actived {

            & .menu__category-item-name,
            & .menu__category-item-img {
               transform: translateY(-3px);

            }

            & .menu__category-item-icon {
               transform: translateY(-6px);
               opacity: 1;
            }
         }

         &:hover {
            background-color: $secondary-color;
            cursor: pointer;
            transform: translateY(-6px);
            @include item-actived;
         }

         &--actived {
            background-color: $primary-color !important;
            color: #fff;
            @include item-actived;
         }
      }
   }
}

// Food Container
.food-container {
   margin-top: -25px;
}

// Food
.food-container .food {
   $food-height: 264px;
   $food-img-width: 140px;
   text-align: center;
   position: relative;
   height: $food-height;
   display: flex;
   justify-content: center;
   animation: fadeIn 0.5s;
   margin-top: 25px;

   &__img {
      width: $food-img-width;
      position: absolute;
      transition: all 0.2s ease-in-out;

      &:hover {
         transform: rotate(10deg);
      }
   }

   &__contents {
      background-color: #fff;
      width: 100%;
      height: calc(100% - #{$food-img-width} / 2);
      margin-top: auto;
      border-radius: 20px;
      display: flex;
      padding: 0 20px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

      &-add-btn {
         $size: 40px;
         position: absolute;
         right: 16px;
         bottom: 24px;
         height: $size;
         width: $size;
         margin-left: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.2s;
         border: none;
         background-color: $primary-color;
         color: #fff;
         font-size: 1.4rem;
         border-radius: 50%;

         &:hover {
            transform: translateY(-5px);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
         }
      }
   }

   &__info {
      margin-top: calc(#{$food-img-width} / 2);
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &-name {
         font-size: 1.125rem;
         font-weight: bold;
         line-height: 1.4;
         margin: 8px 0;
      }

      &-rating {
         color: $primary-color;
         font-size: 0.85;
      }

      &-price {
         margin-top: 8px;
         font-size: 1rem;
         font-weight: 700;

         & span {
            font-weight: 800;
            font-size: 0.75rem;
            margin-right: 3px;
            color: $primary-color;

         }
      }
   }

   &__favorite-icon {
      position: absolute;
      top: 8px;
      right: 0;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      font-size: 0.875rem;
      color: #FC3838;
      background-color: #FFE1E2;

      &>* {
         margin: auto;
      }
   }
}


// ===================== Home Sub Content =====================
.home__sub-content {
   width: 100%;
   padding: 0 40px;
   display: flex;
   flex-direction: column;
}

// Header
.home__sub-content .header {
   display: flex;
   align-items: center;

   &__notify {
      margin-left: auto;
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      color: $gray-1;
      background-color: $gray-2;
      box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
      transition: all 0.2s;
      position: relative;

      &--has-notify {
         .header__notify-count {
            display: flex;
         }
      }

      & > input[type="checkbox"] {
         display: none;
         &:checked ~ .header__notify-container {
            display: block;
         }
         &:checked ~ label:before {
            display: block;
         }
      }
      & > label:nth-child(3) {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         display: flex;
         &:hover {
            cursor: pointer;
            color: $text-color;
            background-color: $secondary-color;
           
         }
         &:before {
            content: '';
            position: absolute;
            right: -14px;
            top: calc(100% + 18px);
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-color: transparent transparent #fff  #fff;
            transform-origin: 0 0;
            transform: rotate(135deg);
            box-shadow: -2px 2px 5px rgb(0 0 0 / 15%);
            z-index: 10;
            display: none;
         }
      }
      &-icon {
         margin: auto;
         font-size: 1.4rem;
         font-weight: bold;
      }

      &-count {
         display: none;
         position: absolute;
         top: 5px;
         right: 5px;
         font-weight: 600;
         font-size: 0.7rem;
         justify-content: center;
         align-items: center;
         width: 16px;
         height: 16px;
         border-radius: 50%;
         background-color: $primary-color;
         color: #fff;
         z-index: 1;
         cursor: pointer;
         
         &:hover {
            cursor: pointer;
            & + label {
               color: $text-color;
               background-color: $secondary-color;
            }
         }
      }

      &-container {
         width: 350px;
         position: absolute;
         top: calc(100% + 15px);
         right: -20px;
         background-color: #fff;
         z-index: 10;
         border-radius: 10px;
         box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
         max-height: 500px;
         color: $text-color;
         padding: 10px 0 10px 10px;
         display: none;
         overflow-y: scroll;
         @include scroll-1(transparent);
         
         .notify-item {
            padding: 0 16px;
            display: flex;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            position: relative;
            // overflow-y: hidden;
            -webkit-transition: all 0.4s ease;
            transition: max-height 0.4s ease-in;
            cursor: default;
            &:hover {
               border-radius: 10px;
               background-color: $secondary-color;
               .notify-item__more {
                  display: flex;
               }
            }
            
            &__icon {
               margin: auto 16px auto 0;
               transition: all 0.3s ease-in;
               img {
                  width: 40px;
                  border-radius: 50%;
               }
            }
            &__info {
               max-height: 80px;
               overflow-y: hidden;
               -webkit-transition: all 0.4s ease;
               transition: max-height 0.4s ease-in;
            }
            &__title {
               margin: 8px 0;
            }
            &__desc {
               font-size: 0.875rem;
               margin: 8px 0;
               line-height: 1.4;
            }
            &__more {
               min-width: 30px;
               height: 30px;
               border-radius: 50%;
               display: none;
               position: absolute;
               top: 50%;
               right: 50px;
               transform: translateY(-50%);
               background-color: #fff;
               z-index: 1;
               box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
               &:hover {
                  cursor: pointer;
                  & .more-menu {
                     display: block;
                  }
               }
               & > label {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  display: flex;
                  &:hover {
                     background-color: #ccc;
                     cursor: pointer;
                     & + .more-menu {
                        display: block;
                     }
                  }
                  &:before {
                     content: '';
                     position: absolute;
                     top: 90%;
                     right: 0;
                     width: 200%;
                     height: 20px;
                     background-color: transparent;
                  }
               }
               &-btn {
                  font-size: 1.2rem;
                  margin: auto;
               }
               .more-menu {
                  position: absolute;
                  top: calc(100% + 10px);
                  right: -10px;
                  background-color: #fff;
                  padding: 8px;
                  z-index: 10;
                  border-radius: 5px;
                  box-shadow: 2px 2px 5px rgb(0 0 0 / 10%), -2px -2px 5px rgb(0 0 0 / 10%);
                  min-width: 100px;
                  text-align: center;
                  display: none;
                  &:before {
                     content: '';
                     position: absolute;
                     bottom: 100%;
                     right: 18px;
                     width: 0;
                     height: 0;
                     border-left: 8px solid transparent;
                     border-right: 8px solid transparent;
                     border-bottom: 8px solid #fff;
                  }
                  
                  &__item {
                     display: block;
                     padding: 4px 0;
                     border-radius: 5px;
                     &:hover {
                        background-color: #ccc;
                     }
                  }
                  
               }
            }

            & > input[type="checkbox"] {
               display: none;
               &:checked ~ .notify-item__info {
                  max-height: 500px;
               }
            }
            &__unread {
               margin: auto;
               &-icon {
                  color: $blue-1;
               }
            }
         }

         .notify-delete-all {
            padding: 8px;
            text-align: center;
            &:hover {
            }
            &-btn {
               font-size: 0.875rem;
               color: $primary-color;
               &:hover {
                  text-decoration: underline;
                  cursor: pointer;
               }
               
            }
         }
      }
   }

   .user {
      display: flex;
      align-items: center;

      &__avatar {
         img {
            object-fit: contain;
            margin: auto;
            border-radius: 50%;
         }
      }

      &__info {
         margin-left: 8px;
         margin-right: 8px;
         color: #292A3A;
         line-height: 1.4;


         &-name {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
         }

         &-role {
            font-size: 0.75rem;
            opacity: 0.7;
         }
      }

      &__control {
         width: 30px;
         height: 30px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.3s;

         &:hover {
            background-color: #ddd;
            box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
            cursor: pointer;
         }
      }
   }
}

// Balance Container
.balance-container {
   margin-top: 40px;
   width: 100%;
   padding-top: 56.25%;
   position: relative;

   .card-logo {
      position: absolute;
      top: 0;
      z-index: 9;

   }

   .card-style {
      position: absolute;
      inset: 0;
      border-radius: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);

      &-1 {
         background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-orange-gradient-background-illustration-imageorange-background-illustrationgradient-image_60012.jpg');
         z-index: 3;
      }
      
      &-2 {
         background-image: url('');
         transform: rotateZ(-8deg);
         z-index: 2;
      }
      
      &-3 {
         background-image: url('');
         transform: rotateZ(-16deg);
         z-index: 1;
      }
   }
}

.balance {
   position: absolute;
   inset: 0;
   color: #fff;
   // color: #F5BD02;   
   display: flex;
   flex-direction: column;
   padding: 16px;
   z-index: 9;

   &__info {
      margin-top: auto;
      order: 1;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .user {
         &__info-wallet-balance {
            font-size: 1.6rem;
         }

         &__info-fullname {
            margin: 0;
            margin-top: 8px;
            font-size: 0.875rem;
            font-family: roboto, sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
         }
      }

      &-id {
         margin-top: auto;
         font-family: roboto, sans-serif;
         font-size: 0.75rem;
         letter-spacing: 2px;
         display: flex;
         flex-direction: column;

         &-img {
            margin-left: auto;
            margin-bottom: 4px;
         }
      }
   }

   &__desc {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      margin-left: auto;
      margin-bottom: auto;
      letter-spacing: 1px;
      order: 0;
   }
}

// Order 
.order {
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-top: 40px;

   &__header {}

   &__heading {}

   &__footer {
      &-total-cost {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         margin-bottom: 10px;

         &-desc {
            font-size: 0.875rem;
         }

         &-number {
            margin: auto;
            margin-left: 8px;
            font-size: 1rem;
            font-weight: 700;
            margin-right: 28px;

            span {
               font-size: 0.75rem;
               margin-right: 3px;
               color: #fa9401;
            }
         }
      }

      &-checkout-btn {
         margin-top: auto;
         // height: 50px;
         width: 100%;

         &::before {
            transition: all 0.4s;
         }
      }
   }
}

.order .order__container {
   flex: 1;
   display: flex;
   flex-direction: column-reverse;
   max-height: 337px;
   margin-top: auto;
   overflow-y: scroll;
   padding-right: 25px;
   margin-right: -25px;
   @include scroll-1;
   // &::-webkit-scrollbar {
   //    width: 10px;
   //    background-color: #fff;


   //    &-thumb {
   //       background-color: #ccc;
   //       visibility: hidden;
   //       opacity: 0;
   //       border-radius: 10px;
   //    }

   //    &-track {
   //       background-color: #fff;
   //    }
   // }

   // &::-webkit-scrollbar-thumb:hover,
   // &:hover::-webkit-scrollbar-thumb {
   //    visibility: visible;
   //    opacity: 1;
   // }
}

.order .order__food {
   display: flex;
   align-items: center;
   border-radius: 15px;
   transition: all 0.3s;
   margin-top: 10px;
   padding: 5px 0;
   animation: slideLTR 0.5s, fadeIn 0.5s;

   &:hover {

      .order__food-delete-btn {
         visibility: visible;
      }

      transform: translate(15px, -5px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

   }


   &-img {
      margin-left: 5px;
      height: 60px;
      min-width: 60px;
      display: flex;
      border-radius: 15px;
      background-color: $secondary-color;

      img {
         margin: auto;
         width: 42px;
      }
   }

   &-info {
      padding: 8px 16px;

      &-name {
         font-size: 1rem;
         margin-top: 0;
         margin-bottom: 6px;
         font-weight: 700;
      }

      &-amount {

         .multiple-icon {
            font-size: 0.75rem;
            color: $primary-color;
            font-weight: 600;
         }

         &-number {
            display: inline-flex;
            align-items: center;
            font-size: 0.75rem;
            font-weight: 600;
            width: 40px;
            height: 20px;
            overflow: hidden;
            outline: none;
            border: none;

            &:focus {
               background-color: $secondary-color;
            }

         }

         .order__food-delete-btn {
            border: none;
            font-size: 0.75rem;
            font-weight: 600;
            margin-left: 16px;
            padding: 3px 10px;
            background-color: #ccc;
            border-radius: 6px;
            visibility: hidden;
            transition: all 0.3s;

            &:hover {
               cursor: pointer;
               opacity: 0.8;
            }
         }
      }

   }


   &-cost {
      margin: auto;
      margin-right: 16px;
      font-size: 0.875rem;
      font-weight: 700;

      span {
         font-size: 0.75rem;
         font-weight: 800;
         margin-right: 3px;
         color: $primary-color;
      }
   }

}