@import './common/base';

// Main body Container
.body-container {
   height: 100%;
   margin: auto;
   background-color: #fff;

   // padding: 40px 0;
   @media screen and (min-width: 1440px) {
      border-radius: 30px;
      height: 896px;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         inset: 0;
         z-index: -1;
         background-color: transparent;
         transform: rotate(-2deg);
         border: 0.1px solid #fff;
         border-radius: 30px;
      }

      &::after {
         content: "";
         position: absolute;
         inset: 0;
         z-index: -2;
         background-color: #FFEACC;
         transform: rotate(-4deg);
         border-radius: 30px;
      }
   }

   >.row {
      height: 100%;

      >* {
         display: flex;
      }
   }
}

// Nav bar
.nav {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
   padding: 40px 0;

   &__item {
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      border-radius: 50%;
      color: $gray-1;
      transition: all 0.2s;
      position: relative;
      z-index: 2;

      &:not(:last-child) {
         margin-bottom: 25px;
      }

      &:last-child {
         margin-top: auto;
      }

      &:hover {
         background-color: #FFE2BA;
         cursor: pointer;
         transform: translateY(-5px);
         box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
         color: $text-color;

         .nav__item-tootltip {
            visibility: visible;
         }
      }

      &--active {
         background-color: $primary-color !important;
         color: #fff !important;
         box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
      }

      &-icon {
         margin: auto;
         font-size: 1.5rem;
      }

      &-tootltip {
         width: auto;
         position: absolute;
         top: 50%;
         left: calc(100% + 16px);
         transform: translateY(-50%);
         z-index: 2;
         display: inline-block;
         min-width: max-content;
         background-color: rgba(0, 0, 0, 0.7);
         color: #fff;
         text-align: center;
         border-radius: 8px;
         padding: 5px 6px;
         font-size: 0.8rem;
         visibility: hidden;
         transition: visibility 0s ease 0.3s;
      }
   }
}

// Home
@import './contents/home';

// Modal
.modal {
   position: fixed;
   display: flex;
   inset: 0;
   z-index: 99;
   animation: fadeIn linear 0.3s;

   &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
   }

   &__body {
      margin: auto;
      background-color: #fff;
      border-radius: 20px;
      animation: growUp 0.3s;
      position: relative;
      overflow: hidden;

      &-close-btn {
         position: absolute;
         top: 32px;
         right: 32px;
         height: 40px;
         width: 40px;
         display: flex;
         border-radius: 50%;
         transition: all 0.2s;
         color: $gray-1;

         &:hover {
            background-color: $secondary-color;
            color: $text-color;
            cursor: pointer;
            box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
            transform: translateY(-2px);
         }

         &-icon {
            margin: auto;
            font-size: 1.4rem;
         }
      }
   }
}

// Auth Form
.modal .auth-form {
   min-width: 360px;
   max-width: 100%;
   padding: 32px;

   &__container {}

   &__header {
      color: $blue-1;
      margin-bottom: 40px;
      margin-right: 60px;
   }

   &__heading {
      margin-top: 0;
      font-size: 2.25em;
   }

   &__form {}

   &__footer {
      margin-top: 16px;
      text-align: center;

      &-desc {
         font-size: 0.75rem;
      }

      &-container {
         margin-top: 20px;
      }

      &-link {
         text-decoration: none;
         padding: 0 8px;
      }

      &-img {
         opacity: 0.8;

         &:hover {
            opacity: 1;
         }
      }
   }
}


.modal .form {
   &__group {
      margin-bottom: 16px;
      &:not(:first-child) {
         margin-top: 32px;
      }
      &--invalid {
         .form__label {
            transform: translate(-8px, -180%) !important;
            opacity: 0.8 !important;
            cursor: default !important;
         }
         .form__underline::before {
            width: 100% !important;
            border-color: $danger-color !important;
         }
      }
      &--optional {
         margin-bottom: 16px;
      }

      .form__input {
         position: relative;
         .form__label {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            font-size: 0.875rem;
            padding: 0 8px;
            transition: transform 0.4s;
            transform: translate(-8px, -180%);
            opacity: 0.8;
            cursor: default;
         }

         .form__control {
            border: none;
            outline: none;
            padding: 4px 16px 4px 8px;
            width: 92%;
            position: relative;
            font-size: 1rem;

            &:placeholder-shown + .form__label {
               transform: translateY(-50%);
               opacity: 0.7;
               cursor: text;
            }
            &:placeholder-shown ~ .form__underline::before {
               width: 0;
            }

         }

         .form__underline {
            position: absolute;
            left: 0;
            bottom: -6px;
            height: 0;
            width: 100%;
            border-bottom: 2px solid $secondary-color;
            margin-bottom: 6px;
            &::before {
               content: "";
               position: absolute;
               inset: 0;
               width: 100%;
               border-bottom: 2px solid $primary-color;
               transition: all 0.4s;
               z-index: 1;
            }
         }
      }

      .form__message {
         font-size: 0.8rem;
         color: $danger-color;
      }
   }

   &__aside {
      margin-bottom: 25px;
      margin-top: 16px;

      &-help {
         color: $primary-color;
         font-size: 0.875rem;
         transition: all 0.3s;
         display: flex;
         cursor: pointer;
         &-desc {
            cursor: default;
            color: $text-color;

         }
         &-link {
            text-decoration: none;
            color: $primary-color;
            &:hover {
               text-decoration: underline;
               cursor: pointer;
            }
         }
         
      }

      &-switch-btn {
         transition: all 0.3s;

         &:hover {
            text-decoration: underline;
         }
      }

      &-link {
         text-decoration: none;
         color: $primary-color;
         margin-left: auto;

         &:hover {
            text-decoration: underline;
         }
      }

      &-login-remember,
      &-policy {
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 0.875rem;
         &-checkbox {
            margin-right: 8px;
         }
         &-link {
            text-decoration: none;
            color: $blue-1;
            font-weight: 600;
            &:hover {
               text-decoration: underline;
            }
         }
      }
      &-login-remember {
         justify-content: flex-start;
      }
   }

   &__control-btn {
      width: 100%;
   }

}

// Alert
.modal__body--has-alert {
   .modal__body-close-btn {
      top: 8px;
   }
}
.modal .alert {
   padding: 0 32px;
   min-width: 360px;
   max-width: 100%;
   &__header {
      background-color: $secondary-color;
      padding: 16px 32px;
      margin: 0 -32px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

   }
   &__title {
      margin: 0;
      margin-right: 60px;
   }
   &__container {
      padding: 16px 0;
   }

   .payment-confirm {
      &__item {
         display: flex;
         margin: 16px 0;
         &-desc {
            margin: 0;
         }
         &-value {
            margin-left: auto;
            font-size: 0.875rem;
            font-weight: 600;
         }
      }
      &__control {
         margin-top: 32px;
         text-align: right;
      }
      &__btn {
         min-width: 60px;
         background-color: #fff;
         padding: 4px 12px;
         outline: none;
         border: 1px solid #ccc;
         border-radius: 4px;
         transition: all 0.2s;
         &:hover {
            cursor: pointer;
            background-color: #ddd;
         }
         &:first-child {
            margin-right: 12px;
         }
         &--focus {
            background-color: $primary-color;
            color: #fff;
            border-color: $primary-color;
            &:hover {
               background-color: $primary-color;
               opacity: 0.8;
            }
         }
      }

   }
}