// Colors 
$primary-color: #fa9401;
$secondary-color: #FFE2BA;

$text-color: #292A3A;

$gray-1: #80838B;
$gray-2: #F8F8FB;

$danger-color: #DC3545;

$blue-1: #0167fa;


// Animations

@keyframes foodSlide {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(0);
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes slideLTR {
   from {
      transform: translateX(-100%)
   }
   to {
      transform: translateX(0);
   }
}

@keyframes growUp {
   from {
      transform: scale(30%);
   }
   to {
      transform: scale(100%);
   }
}


// Mixin
@mixin scroll-1($bgc-color : #fff) {
   &::-webkit-scrollbar {
      width: 10px;
      background-color: $bgc-color;
      
      &-thumb {
         background-color: #ccc;
         visibility: hidden;
         opacity: 0;
         border-radius: 10px;
      }

      &-track {
         background-color: $bgc-color;
      }
   }

   &::-webkit-scrollbar-thumb:hover,
   &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
      opacity: 1;
   }
}
