// Colors 
$primary-color: #fa9401;
$secondary-color: #FFE2BA;

$text-color: #292A3A;

$gray-1: #80838B;
$gray-2: #F8F8FB;



// Animations

@keyframes foodSlide {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(0);
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes slideLTR {
   from {
      transform: translateX(-100%)
   }
   to {
      transform: translateX(0);
   }
}

@keyframes growUp {
   from {
      transform: scale(30%);
   }
   to {
      transform: scale(100%);
   }
}

