@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap&family=Roboto:wght@100;300&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  color: #292A3A;
  font-size: 1rem;
}

body {
  background-color: #FFE2BA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row > * {
  max-height: 100%;
}

.btn, .btn-2__icon {
  border: none;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 100px;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.094rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:after, .btn-2__icon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fa9401;
  border-radius: 100px;
  z-index: -2;
}
.btn:before, .btn-2__icon:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ae6701;
  transition: all 0.3s;
  border-radius: 100px;
  z-index: -1;
}
.btn:hover, .btn-2__icon:hover {
  cursor: pointer;
}
.btn:hover:before, .btn-2__icon:hover:before {
  width: 100%;
}

.btn-2 {
  font-size: 1rem;
  color: #fa9401;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn-2__desc {
  position: relative;
}
.btn-2__desc:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: all 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.btn-2__icon {
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 5px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
.btn-2__icon:after {
  border-radius: 5px;
}
.btn-2__icon:before {
  border-radius: 5px;
}
.btn-2:hover {
  cursor: pointer;
}
.btn-2:hover .btn-2__desc:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.btn-2:hover .btn-2__icon:before {
  width: 100%;
}

.auth-required {
  color: #80838B;
}
.auth-required-login, .auth-required-signup {
  border: none;
  background-color: transparent;
  color: #fa9401;
  font-weight: 600;
  transition: all 0.3s;
}
.auth-required-login:hover, .auth-required-signup:hover {
  cursor: pointer;
  text-decoration: underline;
}

.body-container {
  height: 100%;
  margin: auto;
  background-color: #fff;
}
@media screen and (min-width: 1440px) {
  .body-container {
    border-radius: 30px;
    height: 896px;
    position: relative;
  }
  .body-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: transparent;
    transform: rotate(-2deg);
    border: 0.1px solid #fff;
    border-radius: 30px;
  }
  .body-container::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: #FFEACC;
    transform: rotate(-4deg);
    border-radius: 30px;
  }
}
.body-container > .row {
  height: 100%;
}
.body-container > .row > * {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 40px 0;
}
.nav__item {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  border-radius: 50%;
  color: #80838B;
  transition: all 0.2s;
}
.nav__item:not(:last-child) {
  margin-bottom: 25px;
}
.nav__item:last-child {
  margin-top: auto;
}
.nav__item:hover {
  background-color: #FFE2BA;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #292A3A;
}
.nav__item--active {
  background-color: #fa9401 !important;
  color: #fff !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav__item-icon {
  margin: auto;
  font-size: 1.5rem;
}

.home {
  flex: 1;
}
.home > .row {
  height: 100%;
}
.home > .row > * {
  display: flex;
  padding: 40px 0;
}
.home > .row > *:first-child {
  background-color: #F8F8FB;
}

.home__main-content {
  padding: 0 30px 0 40px;
  background-color: #F8F8FB;
  flex: 1;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.home__main-content::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
.home__main-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
}
.home__main-content::-webkit-scrollbar-track {
  background-color: #F8F8FB;
}
.home__main-content::-webkit-scrollbar-thumb:hover, .home__main-content:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;
}

.home__main-content .header {
  height: 3.2rem;
  display: flex;
}
.home__main-content .header__logo {
  height: 100%;
}
.home__main-content .header__logo-img {
  height: 100%;
}
.home__main-content .header__search {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  width: 300px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.home__main-content .header__search-input {
  border: none;
  outline: none;
  height: 100%;
  flex: 1;
}
.home__main-content .header__search-input::placeholder {
  opacity: 0.7;
}
.home__main-content .header__search-icon {
  font-size: 1.5rem;
}

.banner {
  margin-top: 25px;
  width: 100%;
  height: 200px;
  position: relative;
}
.banner__img {
  width: 100%;
}
.banner__contents {
  display: inline-block;
  padding: 40px;
  position: absolute;
  top: 54%;
  right: 20%;
  transform: translateY(-50%);
}
.banner__contents-desc {
  margin: 16px 0;
  color: #80838B;
}
.banner__contents-desc span {
  font-weight: 600;
  color: #fa9401;
}

.menu {
  padding-top: 25px;
}
.menu .menu__category-header {
  display: flex;
  align-items: center;
}
.menu .menu__category-control {
  margin-left: auto;
}
.menu .menu__category-container {
  margin-top: 8px;
}
.menu .menu__category-item {
  height: 136px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.menu .menu__category-item-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(10px);
  transition: all 0.3s;
  background-color: #F8F8FB;
  margin-top: 16px;
}
.menu .menu__category-item-img img {
  width: 24px;
  object-fit: contain;
}
.menu .menu__category-item-name {
  transform: translateY(10px);
  transition: all 0.3s;
  margin-top: 16px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.menu .menu__category-item-icon {
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.3s;
  font-size: 20px;
}
.menu .menu__category-item:hover {
  background-color: #FFE2BA;
  cursor: pointer;
  transform: translateY(-6px);
}
.menu .menu__category-item:hover .menu__category-item-name, .menu .menu__category-item:hover .menu__category-item-img {
  transform: translateY(-3px);
}
.menu .menu__category-item:hover .menu__category-item-icon {
  transform: translateY(-6px);
  opacity: 1;
}
.menu .menu__category-item--actived {
  background-color: #fa9401 !important;
  color: #fff;
}
.menu .menu__category-item--actived .menu__category-item-name, .menu .menu__category-item--actived .menu__category-item-img {
  transform: translateY(-3px);
}
.menu .menu__category-item--actived .menu__category-item-icon {
  transform: translateY(-6px);
  opacity: 1;
}

.food-container .food {
  text-align: center;
  position: relative;
  height: 264px;
  display: flex;
  justify-content: center;
  animation: fadeIn 0.5s;
  margin-top: 25px;
}
.food-container .food__img {
  width: 140px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.food-container .food__img:hover {
  transform: rotate(10deg);
}
.food-container .food__contents {
  background-color: #fff;
  width: 100%;
  height: calc(100% - 140px / 2);
  margin-top: auto;
  border-radius: 20px;
  display: flex;
  padding: 0 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.food-container .food__contents-add-btn {
  position: absolute;
  right: 16px;
  bottom: 24px;
  height: 40px;
  width: 40px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  border: none;
  background-color: #fa9401;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 50%;
}
.food-container .food__contents-add-btn:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.food-container .food__info {
  margin-top: calc(140px / 2);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.food-container .food__info-name {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 8px 0;
}
.food-container .food__info-rating {
  color: #fa9401;
  font-size: 0.85;
}
.food-container .food__info-price {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 700;
}
.food-container .food__info-price span {
  font-weight: 800;
  font-size: 0.75rem;
  margin-right: 3px;
  color: #fa9401;
}
.food-container .food__favorite-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  font-size: 0.875rem;
  color: #FC3838;
  background-color: #FFE1E2;
}
.food-container .food__favorite-icon > * {
  margin: auto;
}

.home__sub-content {
  width: 100%;
  padding: 0 40px;
}

.home__sub-content .header {
  display: flex;
  align-items: center;
}
.home__sub-content .header__notify {
  margin-left: auto;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  color: #80838B;
  background-color: #F8F8FB;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  position: relative;
}
.home__sub-content .header__notify:hover {
  background-color: #FFE2BA;
  color: #292A3A;
  cursor: pointer;
}
.home__sub-content .header__notify--has-notify .header__notify-count {
  display: flex;
}
.home__sub-content .header__notify-icon {
  margin: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.home__sub-content .header__notify-count {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 600;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fa9401;
  color: #fff;
}
.home__sub-content .header .user {
  display: flex;
  align-items: center;
}
.home__sub-content .header .user__avatar img {
  object-fit: contain;
  margin: auto;
  border-radius: 50%;
}
.home__sub-content .header .user__info {
  margin-left: 8px;
  margin-right: 8px;
  color: #292A3A;
  line-height: 1.4;
}
.home__sub-content .header .user__info-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.home__sub-content .header .user__info-role {
  font-size: 0.75rem;
  opacity: 0.7;
}
.home__sub-content .header .user__control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.home__sub-content .header .user__control:hover {
  background-color: #ddd;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.balance-container {
  margin-top: 40px;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
.balance-container .card-logo {
  position: absolute;
  top: 0;
  z-index: 9999;
}
.balance-container .card-style {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.balance-container .card-style-1 {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-orange-gradient-background-illustration-imageorange-background-illustrationgradient-image_60012.jpg");
  transform: rotateZ(-8deg);
  z-index: 2;
}
.balance-container .card-style-2 {
  background-image: url("https://lh3.google.com/u/0/d/1QgXlVBahzukq4Eh5SHxD_iWpL5Z0INBI=w1842-h952-iv1");
  z-index: 3;
}
.balance-container .card-style-3 {
  background-image: url("https://lh3.google.com/u/0/d/1RwWhpsaf3XeWpyO5IsoS1Ia_eAjvJk4B=w1842-h952-iv1");
  transform: rotateZ(-16deg);
  z-index: 1;
}

.balance {
  position: absolute;
  inset: 0;
  color: #fff;
  color: #F5BD02;
  display: flex;
  flex-direction: column;
  padding: 16px;
  z-index: 9999;
}
.balance__info {
  margin-top: auto;
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.balance__info .user__info-wallet-balance {
  font-size: 1.6rem;
}
.balance__info .user__info-fullname {
  margin: 0;
  margin-top: 8px;
  font-size: 0.875rem;
  font-family: roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.balance__info-id {
  margin-top: auto;
  font-family: roboto, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}
.balance__info-id-img {
  margin-left: auto;
  margin-bottom: 4px;
}
.balance__desc {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: auto;
  letter-spacing: 1px;
  order: 0;
}

/*# sourceMappingURL=style.css.map */
