@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap&family=Roboto:wght@100;300&display=swap");
@keyframes foodSlide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLTR {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes growUp {
  from {
    transform: scale(30%);
  }
  to {
    transform: scale(100%);
  }
}
html {
  font-family: "Open Sans", sans-serif;
  color: #292A3A;
  font-size: 1rem;
}

body {
  background-color: #FFE2BA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row > * {
  max-height: 100%;
}

.btn, .btn-2__icon {
  border: none;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 100px;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.094rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:after, .btn-2__icon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fa9401;
  border-radius: 100px;
  z-index: -2;
}
.btn:before, .btn-2__icon:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ae6701;
  transition: all 0.3s;
  border-radius: 100px;
  z-index: -1;
}
.btn:hover, .btn-2__icon:hover {
  cursor: pointer;
}
.btn:hover:before, .btn-2__icon:hover:before {
  width: 100%;
}

.btn-2 {
  font-size: 1rem;
  color: #fa9401;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn-2__desc {
  position: relative;
}
.btn-2__desc:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: all 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.btn-2__icon {
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 5px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
.btn-2__icon:after {
  border-radius: 5px;
}
.btn-2__icon:before {
  border-radius: 5px;
}
.btn-2:hover {
  cursor: pointer;
}
.btn-2:hover .btn-2__desc:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.btn-2:hover .btn-2__icon:before {
  width: 100%;
}

.auth-required {
  color: #80838B;
}
.auth-required-login, .auth-required-signup {
  border: none;
  background-color: transparent;
  color: #fa9401;
  font-weight: 600;
  transition: all 0.3s;
}
.auth-required-login:hover, .auth-required-signup:hover {
  cursor: pointer;
  text-decoration: underline;
}

.body-container {
  height: 100%;
  margin: auto;
  background-color: #fff;
}
@media screen and (min-width: 1440px) {
  .body-container {
    border-radius: 30px;
    height: 896px;
    position: relative;
  }
  .body-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: transparent;
    transform: rotate(-2deg);
    border: 0.1px solid #fff;
    border-radius: 30px;
  }
  .body-container::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: #FFEACC;
    transform: rotate(-4deg);
    border-radius: 30px;
  }
}
.body-container > .row {
  height: 100%;
}
.body-container > .row > * {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 40px 0;
}
.nav__item {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  border-radius: 50%;
  color: #80838B;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
.nav__item:not(:last-child) {
  margin-bottom: 25px;
}
.nav__item:last-child {
  margin-top: auto;
}
.nav__item:hover {
  background-color: #FFE2BA;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #292A3A;
}
.nav__item:hover .nav__item-tootltip {
  visibility: visible;
}
.nav__item--active {
  background-color: #fa9401 !important;
  color: #fff !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav__item-icon {
  margin: auto;
  font-size: 1.5rem;
}
.nav__item-tootltip {
  width: auto;
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translateY(-50%);
  z-index: 2;
  display: inline-block;
  min-width: max-content;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px 6px;
  font-size: 0.8rem;
  visibility: hidden;
  transition: visibility 0s ease 0.3s;
}

@keyframes foodSlide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLTR {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes growUp {
  from {
    transform: scale(30%);
  }
  to {
    transform: scale(100%);
  }
}
.home {
  flex: 1;
}
.home > .row {
  height: 100%;
}
.home > .row > * {
  display: flex;
  padding: 40px 0;
}
.home > .row > *:first-child {
  background-color: #F8F8FB;
}

.home__main-container {
  padding: 0 30px 0 40px;
  background-color: #F8F8FB;
  flex: 1;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.home__main-container::-webkit-scrollbar {
  width: 10px;
  background-color: #F8F8FB;
}
.home__main-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
}
.home__main-container::-webkit-scrollbar-track {
  background-color: #F8F8FB;
}
.home__main-container::-webkit-scrollbar-thumb:hover, .home__main-container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;
}

.home__main-container .header {
  height: 3.2rem;
  display: flex;
}
.home__main-container .header__logo {
  height: 100%;
}
.home__main-container .header__logo-img {
  height: 100%;
}
.home__main-container .header__search {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  width: 300px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.home__main-container .header__search-input {
  border: none;
  outline: none;
  height: 100%;
  flex: 1;
}
.home__main-container .header__search-input::placeholder {
  opacity: 0.7;
}
.home__main-container .header__search-icon {
  font-size: 1.5rem;
}

.banner {
  margin-top: 25px;
  width: 100%;
  height: 200px;
  position: relative;
}
.banner__img {
  width: 100%;
}
.banner__contents {
  display: inline-block;
  padding: 40px;
  position: absolute;
  top: 54%;
  right: 20%;
  transform: translateY(-50%);
}
.banner__contents-desc {
  margin: 16px 0;
  color: #80838B;
}
.banner__contents-desc span {
  font-weight: 600;
  color: #fa9401;
}

.menu {
  padding-top: 25px;
}
.menu .menu__category {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: #F8F8FB;
  margin: 0 -2px;
  padding: 0 2px 25px;
}
.menu .menu__category-header {
  display: flex;
  align-items: center;
}
.menu .menu__category-control {
  margin-left: auto;
}
.menu .menu__category-container {
  margin-top: 8px;
}
.menu .menu__category-item {
  height: 136px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.menu .menu__category-item-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(10px);
  transition: all 0.3s;
  background-color: #F8F8FB;
  margin-top: 16px;
}
.menu .menu__category-item-img img {
  width: 24px;
  object-fit: contain;
}
.menu .menu__category-item-name {
  transform: translateY(10px);
  transition: all 0.3s;
  margin-top: 16px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.menu .menu__category-item-icon {
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.3s;
  font-size: 20px;
}
.menu .menu__category-item:hover {
  background-color: #FFE2BA;
  cursor: pointer;
  transform: translateY(-6px);
}
.menu .menu__category-item:hover .menu__category-item-name, .menu .menu__category-item:hover .menu__category-item-img {
  transform: translateY(-3px);
}
.menu .menu__category-item:hover .menu__category-item-icon {
  transform: translateY(-6px);
  opacity: 1;
}
.menu .menu__category-item--actived {
  background-color: #fa9401 !important;
  color: #fff;
}
.menu .menu__category-item--actived .menu__category-item-name, .menu .menu__category-item--actived .menu__category-item-img {
  transform: translateY(-3px);
}
.menu .menu__category-item--actived .menu__category-item-icon {
  transform: translateY(-6px);
  opacity: 1;
}

.food-container {
  margin-top: -25px;
}

.food-container .food {
  text-align: center;
  position: relative;
  height: 264px;
  display: flex;
  justify-content: center;
  animation: fadeIn 0.5s;
  margin-top: 25px;
}
.food-container .food__img {
  width: 140px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.food-container .food__img:hover {
  transform: rotate(10deg);
}
.food-container .food__contents {
  background-color: #fff;
  width: 100%;
  height: calc(100% - 140px / 2);
  margin-top: auto;
  border-radius: 20px;
  display: flex;
  padding: 0 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.food-container .food__contents-add-btn {
  position: absolute;
  right: 16px;
  bottom: 24px;
  height: 40px;
  width: 40px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  border: none;
  background-color: #fa9401;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 50%;
}
.food-container .food__contents-add-btn:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.food-container .food__info {
  margin-top: calc(140px / 2);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.food-container .food__info-name {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 8px 0;
}
.food-container .food__info-rating {
  color: #fa9401;
  font-size: 0.85;
}
.food-container .food__info-price {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 700;
}
.food-container .food__info-price span {
  font-weight: 800;
  font-size: 0.75rem;
  margin-right: 3px;
  color: #fa9401;
}
.food-container .food__favorite-icon {
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  font-size: 0.875rem;
  color: #FC3838;
  background-color: #FFE1E2;
}
.food-container .food__favorite-icon > * {
  margin: auto;
}

.home__checkout-container {
  flex: 1;
  padding: 40px;
  margin: -40px 0;
  background-color: #fff;
  border-left: 1px solid #ccc;
}

.home__checkout-header {
  text-align: center;
}

.home__checkout-heading {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.checkout-item > .row {
  margin-bottom: 20px;
}
.checkout-item__desc {
  font-size: 0.875rem;
  color: #80838B;
}
.checkout-item__heading {
  text-transform: uppercase;
  margin: 8px 0;
  font-weight: 800;
}
.checkout-item__subheading {
  text-transform: capitalize;
  margin-bottom: 0;
}
.checkout-item .checkout-form {
  display: flex;
  flex-wrap: wrap;
}
.checkout-item .checkout-form__group {
  position: relative;
  display: flex;
  margin-top: 24px;
  width: 100%;
}
.checkout-item .checkout-form__group--half {
  width: 48%;
}
.checkout-item .checkout-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: inline-block;
  z-index: 1;
  background-color: #fff;
  padding: 0 6px;
  transition: all 0.3s;
  cursor: text;
  color: #9c9c9c;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.checkout-item .checkout-form__input {
  flex: 1;
  height: 36px;
  padding: 0 16px;
  border-radius: 10px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  transition: all 0.3s;
}
.checkout-item .checkout-form__input:not(:placeholder-shown), .checkout-item .checkout-form__input:focus {
  border-color: #0167fa;
}
.checkout-item .checkout-form__input:not(:placeholder-shown) + .checkout-form__label, .checkout-item .checkout-form__input:focus + .checkout-form__label {
  transform: translateY(-28px);
  color: #0167fa;
}
.checkout-item .checkout-form__input::-webkit-inner-spin-button, .checkout-item .checkout-form__input::-webkit-outer-spin-button {
  appearance: none;
  display: none;
}
.checkout-item .checkout-form__radio {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.checkout-item .checkout-form__radio:checked + .shipphing-method {
  border-color: #0167fa;
}
.checkout-item .checkout-form__radio:checked + .shipphing-method .shipphing-method__price {
  color: #0167fa;
}
.checkout-item .checkout-form .shipphing-method {
  display: flex;
  flex: 1;
  padding: 8px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.checkout-item .checkout-form .shipphing-method__logo {
  width: 40px;
  object-fit: contain;
  margin: 0 8px;
}
.checkout-item .checkout-form .shipphing-method__info-name {
  margin-top: 0;
  margin-bottom: 0;
}
.checkout-item .checkout-form .shipphing-method__info-delivery {
  margin: 0;
  font-size: 0.75rem;
}
.checkout-item .checkout-form .shipphing-method__price {
  font-size: 0.8125rem;
  margin-left: auto;
  margin-right: 20px;
}

.home__sub-container {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.home__sub-container .header {
  display: flex;
  align-items: center;
}
.home__sub-container .header__notify {
  margin-left: auto;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  color: #80838B;
  background-color: #F8F8FB;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  position: relative;
}
.home__sub-container .header__notify--has-notify .header__notify-count {
  display: flex;
}
.home__sub-container .header__notify > input[type=checkbox] {
  display: none;
}
.home__sub-container .header__notify > input[type=checkbox]:checked ~ .header__notify-container {
  display: block;
}
.home__sub-container .header__notify > input[type=checkbox]:checked ~ label:before {
  display: block;
}
.home__sub-container .header__notify > label:nth-child(3) {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
}
.home__sub-container .header__notify > label:nth-child(3):hover {
  cursor: pointer;
  color: #292A3A;
  background-color: #FFE2BA;
}
.home__sub-container .header__notify > label:nth-child(3):before {
  content: "";
  position: absolute;
  right: -14px;
  top: calc(100% + 18px);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: none;
}
.home__sub-container .header__notify-icon {
  margin: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.home__sub-container .header__notify-count {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 600;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fa9401;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.home__sub-container .header__notify-count:hover {
  cursor: pointer;
}
.home__sub-container .header__notify-count:hover + label {
  color: #292A3A;
  background-color: #FFE2BA;
}
.home__sub-container .header__notify-container {
  width: 350px;
  position: absolute;
  top: calc(100% + 15px);
  right: -20px;
  background-color: #fff;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 500px;
  color: #292A3A;
  padding: 10px 0 10px 10px;
  display: none;
  overflow-y: scroll;
}
.home__sub-container .header__notify-container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.home__sub-container .header__notify-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
}
.home__sub-container .header__notify-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.home__sub-container .header__notify-container::-webkit-scrollbar-thumb:hover, .home__sub-container .header__notify-container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;
}
.home__sub-container .header__notify-container .notify-item {
  padding: 0 16px;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: max-height 0.4s ease-in;
  cursor: default;
}
.home__sub-container .header__notify-container .notify-item:hover {
  border-radius: 10px;
  background-color: #FFE2BA;
}
.home__sub-container .header__notify-container .notify-item:hover .notify-item__more {
  display: flex;
}
.home__sub-container .header__notify-container .notify-item__icon {
  margin: auto 16px auto 0;
  transition: all 0.3s ease-in;
}
.home__sub-container .header__notify-container .notify-item__icon img {
  width: 40px;
  border-radius: 50%;
}
.home__sub-container .header__notify-container .notify-item__info {
  max-height: 80px;
  overflow-y: hidden;
  -webkit-transition: all 0.4s ease;
  transition: max-height 0.4s ease-in;
}
.home__sub-container .header__notify-container .notify-item__title {
  margin: 8px 0;
}
.home__sub-container .header__notify-container .notify-item__desc {
  font-size: 0.875rem;
  margin: 8px 0;
  line-height: 1.4;
}
.home__sub-container .header__notify-container .notify-item__more {
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.home__sub-container .header__notify-container .notify-item__more:hover {
  cursor: pointer;
}
.home__sub-container .header__notify-container .notify-item__more:hover .more-menu {
  display: block;
}
.home__sub-container .header__notify-container .notify-item__more > label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
}
.home__sub-container .header__notify-container .notify-item__more > label:hover {
  background-color: #ccc;
  cursor: pointer;
}
.home__sub-container .header__notify-container .notify-item__more > label:hover + .more-menu {
  display: block;
}
.home__sub-container .header__notify-container .notify-item__more > label:before {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  width: 200%;
  height: 20px;
  background-color: transparent;
}
.home__sub-container .header__notify-container .notify-item__more-btn {
  font-size: 1.2rem;
  margin: auto;
}
.home__sub-container .header__notify-container .notify-item__more .more-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: -10px;
  background-color: #fff;
  padding: 8px;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  text-align: center;
  display: none;
}
.home__sub-container .header__notify-container .notify-item__more .more-menu:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 18px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.home__sub-container .header__notify-container .notify-item__more .more-menu__item {
  display: block;
  padding: 4px 0;
  border-radius: 5px;
}
.home__sub-container .header__notify-container .notify-item__more .more-menu__item:hover {
  background-color: #ccc;
}
.home__sub-container .header__notify-container .notify-item > input[type=checkbox] {
  display: none;
}
.home__sub-container .header__notify-container .notify-item > input[type=checkbox]:checked ~ .notify-item__info {
  max-height: 500px;
}
.home__sub-container .header__notify-container .notify-item__unread {
  margin: auto;
}
.home__sub-container .header__notify-container .notify-item__unread-icon {
  color: #0167fa;
}
.home__sub-container .header__notify-container .notify-delete-all {
  padding: 8px;
  text-align: center;
}
.home__sub-container .header__notify-container .notify-delete-all-btn {
  font-size: 0.875rem;
  color: #fa9401;
}
.home__sub-container .header__notify-container .notify-delete-all-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.home__sub-container .header .user {
  display: flex;
  align-items: center;
}
.home__sub-container .header .user__avatar img {
  object-fit: contain;
  margin: auto;
  border-radius: 50%;
}
.home__sub-container .header .user__info {
  margin-left: 8px;
  margin-right: 8px;
  color: #292A3A;
  line-height: 1.4;
}
.home__sub-container .header .user__info-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.home__sub-container .header .user__info-role {
  font-size: 0.75rem;
  opacity: 0.7;
}
.home__sub-container .header .user__control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.home__sub-container .header .user__control:hover {
  background-color: #ddd;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.balance-container {
  margin-top: 40px;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
.balance-container .card-logo {
  position: absolute;
  top: 0;
  z-index: 9;
}
.balance-container .card-style {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.balance-container .card-style-1 {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-orange-gradient-background-illustration-imageorange-background-illustrationgradient-image_60012.jpg");
  z-index: 3;
}
.balance-container .card-style-2 {
  background-image: url("");
  transform: rotateZ(-8deg);
  z-index: 2;
}
.balance-container .card-style-3 {
  background-image: url("");
  transform: rotateZ(-16deg);
  z-index: 1;
}

.balance {
  position: absolute;
  inset: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  z-index: 9;
}
.balance__info {
  margin-top: auto;
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.balance__info .user__info-wallet-balance {
  font-size: 1.6rem;
}
.balance__info .user__info-fullname {
  margin: 0;
  margin-top: 8px;
  font-size: 0.875rem;
  font-family: roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.balance__info-id {
  margin-top: auto;
  font-family: roboto, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}
.balance__info-id-img {
  margin-left: auto;
  margin-bottom: 4px;
}
.balance__desc {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: auto;
  letter-spacing: 1px;
  order: 0;
}

.order {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.order__footer-total-cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.order__footer-total-cost-desc {
  font-size: 0.875rem;
}
.order__footer-total-cost-number {
  margin: auto;
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 28px;
}
.order__footer-total-cost-number span {
  font-size: 0.75rem;
  margin-right: 3px;
  color: #fa9401;
}
.order__footer-checkout-btn {
  margin-top: auto;
  width: 100%;
}
.order__footer-checkout-btn::before {
  transition: all 0.4s;
}

.order .order__container {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  max-height: 337px;
  margin-top: auto;
  overflow-y: scroll;
  padding-right: 25px;
  margin-right: -25px;
}
.order .order__container::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
.order .order__container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
}
.order .order__container::-webkit-scrollbar-track {
  background-color: #fff;
}
.order .order__container::-webkit-scrollbar-thumb:hover, .order .order__container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;
}

.order .order__food {
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 5px 0;
  animation: slideLTR 0.5s, fadeIn 0.5s;
}
.order .order__food:hover {
  transform: translate(15px, -5px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.order .order__food:hover .order__food-delete-btn {
  visibility: visible;
}
.order .order__food-img {
  margin-left: 5px;
  height: 60px;
  min-width: 60px;
  display: flex;
  border-radius: 15px;
  background-color: #FFE2BA;
}
.order .order__food-img img {
  margin: auto;
  width: 42px;
}
.order .order__food-info {
  padding: 8px 16px;
}
.order .order__food-info-name {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 700;
}
.order .order__food-info-amount .multiple-icon {
  font-size: 0.75rem;
  color: #fa9401;
  font-weight: 600;
}
.order .order__food-info-amount-number {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  width: 40px;
  height: 20px;
  overflow: hidden;
  outline: none;
  border: none;
}
.order .order__food-info-amount-number:focus {
  background-color: #FFE2BA;
}
.order .order__food-info-amount .order__food-delete-btn {
  border: none;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 16px;
  padding: 3px 10px;
  background-color: #ccc;
  border-radius: 6px;
  visibility: hidden;
  transition: all 0.3s;
}
.order .order__food-info-amount .order__food-delete-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.order .order__food-cost {
  margin: auto;
  margin-right: 16px;
  font-size: 0.875rem;
  font-weight: 700;
}
.order .order__food-cost span {
  font-size: 0.75rem;
  font-weight: 800;
  margin-right: 3px;
  color: #fa9401;
}

.modal {
  position: fixed;
  display: flex;
  inset: 0;
  z-index: 99;
  animation: fadeIn linear 0.3s;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__body {
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  animation: growUp 0.3s;
  position: relative;
}
.modal__body-close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 50%;
  transition: all 0.2s;
  color: #80838B;
}
.modal__body-close-btn:hover {
  background-color: #FFE2BA;
  color: #292A3A;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.modal__body-close-btn-icon {
  margin: auto;
  font-size: 1.4rem;
}

.modal .auth-form {
  min-width: 360px;
  max-width: 100%;
  padding: 32px;
}
.modal .auth-form__header {
  color: #0167fa;
  margin-bottom: 40px;
  margin-right: 60px;
}
.modal .auth-form__heading {
  margin-top: 0;
  font-size: 2.25em;
}
.modal .auth-form__footer {
  margin-top: 16px;
  text-align: center;
}
.modal .auth-form__footer-desc {
  font-size: 0.75rem;
}
.modal .auth-form__footer-container {
  margin-top: 20px;
}
.modal .auth-form__footer-link {
  text-decoration: none;
  padding: 0 8px;
}
.modal .auth-form__footer-img {
  opacity: 0.8;
}
.modal .auth-form__footer-img:hover {
  opacity: 1;
}

.modal .form__group {
  margin-bottom: 16px;
}
.modal .form__group:not(:first-child) {
  margin-top: 32px;
}
.modal .form__group--invalid .form__label {
  transform: translate(-8px, -180%) !important;
  opacity: 0.8 !important;
  cursor: default !important;
}
.modal .form__group--invalid .form__underline::before {
  width: 100% !important;
  border-color: #DC3545 !important;
}
.modal .form__group--optional {
  margin-bottom: 16px;
}
.modal .form__group .form__input {
  position: relative;
}
.modal .form__group .form__input .form__label {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  font-size: 0.875rem;
  padding: 0 8px;
  transition: transform 0.4s;
  transform: translate(-8px, -180%);
  opacity: 0.8;
  cursor: default;
}
.modal .form__group .form__input .form__control {
  border: none;
  outline: none;
  padding: 4px 16px 4px 8px;
  font-size: 0.825rem;
  width: 92%;
  position: relative;
}
.modal .form__group .form__input .form__control:placeholder-shown + .form__label {
  transform: translateY(-50%);
  opacity: 0.7;
  cursor: text;
}
.modal .form__group .form__input .form__control:placeholder-shown ~ .form__underline::before {
  width: 0;
}
.modal .form__group .form__input .form__underline {
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 0;
  width: 100%;
  border-bottom: 2px solid #FFE2BA;
  margin-bottom: 6px;
}
.modal .form__group .form__input .form__underline::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  border-bottom: 2px solid #fa9401;
  transition: all 0.4s;
  z-index: 1;
}
.modal .form__group .form__message {
  font-size: 0.8rem;
  color: #DC3545;
}
.modal .form__aside {
  margin-bottom: 25px;
  margin-top: 16px;
}
.modal .form__aside-help {
  color: #fa9401;
  font-size: 0.875rem;
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
}
.modal .form__aside-help-desc {
  cursor: default;
  color: #292A3A;
}
.modal .form__aside-help-link {
  text-decoration: none;
  color: #fa9401;
}
.modal .form__aside-help-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.modal .form__aside-switch-btn {
  transition: all 0.3s;
}
.modal .form__aside-switch-btn:hover {
  text-decoration: underline;
}
.modal .form__aside-link {
  text-decoration: none;
  color: #fa9401;
  margin-left: auto;
}
.modal .form__aside-link:hover {
  text-decoration: underline;
}
.modal .form__aside-login-remember, .modal .form__aside-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}
.modal .form__aside-login-remember-checkbox, .modal .form__aside-policy-checkbox {
  margin-right: 8px;
}
.modal .form__aside-login-remember-link, .modal .form__aside-policy-link {
  text-decoration: none;
  color: #0167fa;
  font-weight: 600;
}
.modal .form__aside-login-remember-link:hover, .modal .form__aside-policy-link:hover {
  text-decoration: underline;
}
.modal .form__aside-login-remember {
  justify-content: flex-start;
}
.modal .form__control-btn {
  width: 100%;
}

.modal__body--has-alert .modal__body-close-btn {
  top: 8px;
}

.modal .alert {
  padding: 0 32px;
}
.modal .alert__header {
  background-color: #FFE2BA;
  padding: 16px 32px;
  margin: 0 -32px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal .alert__title {
  margin: 0;
}
.modal .alert__container {
  padding: 16px 0;
}

/*# sourceMappingURL=style.css.map */
